$main-font-family: "Open Sans", sans-serif;
$header-font-family: "Lobster", sans-serif;
$main-text-color: #fff;
$text-block-color: #2e3b4e;
$third-color: #e7526b;
$experience-cover-color: rgba(82, 26, 102, 0.8);
$experience-description-color: #a87bb7;
$experience-button-color: #8824cd;
$search-icon-color: #b6b6b6;
$left-margin: 12rem;
$left-margin-responsive: 1rem;
$media-screen-for-left-margin: 1200px;
$media-screen-responsive:1070px;