@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400&display=swap');
@import "_variables";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.mobile-nav {
    align-items: center;
    position: fixed;
    z-index: 101;
    top: 0;
    right: -80%;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 100vh;
    transition: all .2s ease-out;
    .mobile-nav__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        .close {
            align-self: flex-end;
            margin-right: 1rem;
            .close-button {
                font-size: 2rem;
                color: $main-text-color;
                border: none;
                margin-bottom: 2rem;
                background-color: rgba(0, 0, 0, 0);
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
        .main-menu--search {
            width: 80%;
            height: 3rem;
            background-color: $main-text-color;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            overflow: hidden;
            margin-bottom: 2rem;
            .search {
                width: 80%;
                border: none;
                padding-left: 1rem;
                &:focus {
                    outline: none;
                }
            }
            button[type="submit"] {
                border: none;
                background: none;
                cursor: pointer;
                height: 100%;
                padding: 0 1rem;
                &:focus {
                    outline: none;
                }
                i {
                    color: $search-icon-color;
                }
            }
        }
        .main-menu--navigation-item {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
    }
}

.mobile-nav-show {
    right: 0;
}

.first-part {
    background-image: url("../../img/Layer25.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 56rem;
    position: relative;
    @media screen and(max-width: $media-screen-responsive){
        height: 36rem;
    }
}

.get-started {
    width: 21rem;
    padding: 1.2rem 0;
    border-radius: 2rem;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

footer {
    background-color: $text-block-color;
    height: 10rem;
    padding-top: 3rem;
    font-family: $main-font-family;
    p {
        margin: 0 12rem;
        color: $main-text-color;
        font-size: 0.8rem;
        @media screen and (max-width: $media-screen-for-left-margin){
            margin-left: $left-margin-responsive;
        }
    }
}

