@import "_variables";

.overview {
    position: absolute;
    left: $left-margin;
    bottom: 16rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $main-font-family;
    h1 {
        color: $main-text-color;
        font-size: 3rem;
        font-weight: 300;
        text-align: right;
    }
    .overview-get-started-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 17.5rem;
        color: $main-text-color;
        button {
            background: $experience-button-color;
            font-family: inherit;
            border-radius: 3rem;
            border: none;
            cursor: pointer;
            padding: 1.4rem 4.2rem;
            outline: none;
            color: inherit;
            @media screen and(max-width: $media-screen-responsive){
                padding: 1.4rem 2rem;
            }
        }
        p {
            font-size: .75rem;
            align-self: center;
            padding-left: 1rem;
            width: 95%;
            @media screen and(max-width: $media-screen-responsive){
                padding-left: 0;
                text-align: right;
            }
        }
    }

    @media screen and (max-width: $media-screen-for-left-margin) {
        left: $left-margin-responsive;
    }

    @media screen and(max-width: $media-screen-responsive){
        width: 95%;
        bottom: 8rem;
        h1 {
            font-size: 2rem;
        }
    }
}